/* google font */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
  /* Shared Style */
  .dark-1{
    color: #0D1321;
  }
  .dark-2{
    color: #131414;
  }
  .heding-color{
    color: rgba(13, 19, 33, 0.70);
  }
  .text-justify{
    text-align: justify;
  }

  /* Nav section strat*/
  nav{
    max-width: 1140px;
    margin: 0 auto;
    height: 27px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;

  }

  .nav-title{
    font-weight: bolder;
    font-size: 28px;
  }
  .nav-btn{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
  }
  /* Nav section end */
  /* banner-section start */
  .banner-section{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 1340px;
    height: 530px;
    margin-top: 25px;
  }
  .banner-img{
    margin-top: 25px;
  }
  .banner-content{
    text-align: center;
    width: 998px;
    height: 581px;
    margin: 0 auto;
  }
  .banner-heding{
    font-weight: bolder;
    margin-bottom: 24px;

  }
  .banaer-paragph{
    margin-bottom: 32px;
  }
  .banner-btn{
    width: 244px;
    height: 54px;
    background-color: #0D1321;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 54px;
  }
  /* End banner Section */
  .devlopment-section{
    width: 1140px;
    height: 1550px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;

  }
.why-devlovment{
    padding: 97px 80px;

}
.wd-content{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.devlop-card{
  max-width: 1020px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1.00);

}
.card-1{
  display: flex;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
}
.card-content{
  width: 447px;
  height: 219px;
 
}
.card-title{
  font-weight: bold;
  font-size: 24px;
}
.card-img{
  width: 275px;
  height: 240px;
  margin-left: 200px;
}
.btn-leran{
  height:47px; 
  width: 171px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}
.inspire-section{
  max-width: 1140px;
  margin: 0 auto;
}
.inpire-video{
  background-color: rgba(213, 216, 223, 0.2);
  width: 1076px;
  height: 550px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 10px 10px 10px 10px white;
  border: 1px solid rgb(223, 220, 220);
}
.ins-video{
  border-radius: 8px;
}
.inspire-tittle{
  font-weight: bolder;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;

}
.inspire-p{
  text-align: center;
  margin-bottom: 24px;
}
.my-curent-target-part{
  text-align: center;
  margin-top: 25px;
  width: 946px;
  height: 113px;
  margin: 0 auto;

}
.my-curent-target-part p{
  margin-top: 10px;
  margin-bottom: 100px;
}
.card-section{
  width: 1140px;
  height: 299px;
  margin: 0 auto;
  margin-top: 200px;

}

.card-templete{
  width: 1092px;
  height: 220px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  
}
.Card--1{
  background-color: rgba(255, 76, 30, 0.05);
  padding: 40px;
  border-radius: 16px;
  
}
.Card--2{
  background-color: rgba(0, 76, 232, 0.05);
  padding: 40px;
  margin-left: 30px;
  border-radius: 16px;
}
.Card--3{
  background-color: rgba(255, 223, 0, 0.05);
  padding: 40px;
  margin-left: 30px;
  border-radius: 16px;
}
.card-img{
  margin: 50px;

}
.leran:visited{
 color: black;
}
/* next-target-content */
.next-target-content{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;

}
.next-target-card-1{
  max-width: 1020px;
  height: 100px;
  display: flex;
 border: 1px solid red;
 margin: 0 auto;
 align-items: center;
 box-shadow: 20px 20px 20px 20px rgb(248, 248, 248);
 border-radius: 16px;
 border: 1px solid rgb(225, 221, 221);
 padding: 35px;
 
}
.next-target-card-1 img{
  width: 110px;
  height: 108px;
  margin-right: 50px;
  align-items: center;
}
.card-content{
  width: 941.22px;
  margin-top: 20px;
  height: 139px;
}